<footer class="sirc-footer">
  <div class="container">
    <div class="footer-row row justify-content-center">           
      <div class="footer-infos-container col-12 p-1">  
        <div class="row">
          <div class="footer-menu-container col-12">
            <div class="footer-menu d-inline-flex flex-wrap">
              <div class="link-container"><a routerLink="/espace-documentaire/plan-du-site">Plan du site</a></div>
              <div class="link-container"><a routerLink="/espace-documentaire/accessibilite">Accessibilité</a></div>
              <div class="link-container"><a routerLink="/espace-documentaire/conditions-generales-utilisation">Conditions générales d'utilisation</a></div>
              <div class="link-container"><a routerLink="/espace-documentaire/donnees-personnelles">Données personnelles</a></div>
              <div class="link-container"><a routerLink="/espace-documentaire/liens-utiles">Liens utiles</a></div>
              <div class="link-container"><a routerLink="/espace-documentaire/contacts">Contacts</a></div>
            </div>
          </div>
          <div class="footer-info-version col-12 mt-1">TéléRC - v{{version}}</div>
        </div>  
      </div>
    </div>
  </div>
</footer>