//##### HEADER #######
header.sirc-header {
    background: $primary;
    background-image: url("/assets/images/svg/BG-Marianne.svg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    @media (min-width: map-get($grid-breakpoints, "md")) {
        background-position: -2%;
        background-size: 27rem;
    }
    .header-row {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        .header-logo-container {
            .header-logo-box {
                background: $white;                    
                >img {
                    width: 100%;
                }
            }
        }
        .header-title-container {
            .title {
                color: $white;
                cursor: default;   
                font-family: "Circular Std Book", "Playfair Display", "Source Sans Pro";                                            
            }

        }
        .header-infos-container {
            .subtitle {
                color: $white;
                cursor: default; 
                font-family: $headings-font-family;                         
            }
        }
    }
    .header-full {
        .header-logo-box {                  
            height: 7rem;
            width: 7rem;
            >img {
                width: 100%;
            }
        }
        .header-title-container {
            border-right: 2px solid $white;
            .title {
                font-size: $font-size-title;
                line-height: $font-size-title;                                             
            }
        }
        .header-infos-container {
            .subtitle {
                font-size: $font-size-subtitle;                          
            }
        }
        
    }
    .header-mobile {
        .header-row {
            .header-logo-container {
                .header-logo-box {                 
                    height: 4rem;
                    max-height: 4rem;
                    max-width: 6rem;
                    >img {
                        width: 100%;
                    }
                }
            }
            .header-title-container {
                .title {
                    font-size: $font-size-title-sm;
                    line-height: $font-size-title-sm;                                             
                }
            }
            .header-infos-container {
                .subtitle {
                    font-size: $font-size-small; //1.4                            
                }
            }
        }
    }
}

//##### FOTER #######
footer.sirc-footer {
    background: $white;
    .footer-menu-container {
        .footer-menu {
            width: 100%;
            @media (min-width: map-get($grid-breakpoints, "sm")) {
                justify-content: center !important;
            }
            .link-container {
                @media (max-width: map-get($grid-breakpoints, "md")) {
                    padding: 0.5rem;
                    font-size: $font-size-tiny;
                    border : none;
                }
                padding: 1rem;
                font-size: $font-size-scale;
                border-right: 2px solid $sirc-grayll;
                &:last-child {
                    border : none;
                }
            }
        }
    }
    .footer-info-version {
        @extend .italic;
        text-align: center;
        font-size: 0.7rem;
        

    }
}

//##### FIL ARIANE #######
div.filariane-container {
    @extend .flex-wrap, .d-flex, .align-items-center, .mb-3;
    font-size: $font-size-small;
    div.filariane-item {
        @extend .flex-wrap, .d-flex, .align-items-center;
        i{
            cursor: default;
            margin-top: 4px;
            font-size: $font-size-base;
        }
        >*{
            margin-right: 0.5rem;
        }
    }
}


//##### LOADER #####
.sk-circle {
    margin: 10% auto;
    width: 60px;
    height: 60px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: $primary;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 { -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
.sk-circle .sk-circle3 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }
.sk-circle .sk-circle4 { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.sk-circle .sk-circle5 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }
.sk-circle .sk-circle6 { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg); }
.sk-circle .sk-circle7 { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.sk-circle .sk-circle8 { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg); }
.sk-circle .sk-circle9 { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg); }
.sk-circle .sk-circle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }
.sk-circle .sk-circle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); }
.sk-circle .sk-circle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); }
.sk-circle .sk-circle2:before { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.sk-circle .sk-circle3:before { -webkit-animation-delay: -1s; animation-delay: -1s; }
.sk-circle .sk-circle4:before { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.sk-circle .sk-circle5:before { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.sk-circle .sk-circle6:before { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
.sk-circle .sk-circle7:before { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
.sk-circle .sk-circle8:before { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }
.sk-circle .sk-circle9:before { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
.sk-circle .sk-circle10:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }
.sk-circle .sk-circle11:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
.sk-circle .sk-circle12:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 
    40% { -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 
    40% { -webkit-transform: scale(1); transform: scale(1); }
}


//##### TOASTER #####
#toast-container {
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        top: 0;
        right: 0;
    }
}
#toast-container > div {
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        width: 100%;
    }
    width: 400px;
}


//##### BODY #######
div.sirc-page-container{
    min-height: 500px;
}
div.sirc-page-body{
    background: unset;
    min-height: 500px;
}

// Container de boutons situé au-dessus d'un element de type grille, liste...
.buttons-container-header, .buttons-container-footer {
    @extend .pt-1, .pb-1, .d-flex, .flex-wrap, .align-items-center, .justify-content-end;
    >*{
        margin-left: 5px;
    }
    .expand-btns {
        @extend .mt-1, .mt-sm-0, .d-flex, .align-items-center;
        >*{
            margin-left: 5px;
        }
    }
}
.buttons-container {
    @extend .d-flex, .justify-content-end;
    flex-wrap: wrap;
    button:not(:first-child) {
        @extend .mt-1, .ml-0, .ml-sm-1, .mt-sm-0;
    }
}



//##### MODALES #####
.sirc-modale-titre-container {
    background: $sirc-grayll;
    border-bottom: 2px solid $sirc-grayml;
    margin: -24px;
    margin-bottom: 0rem;
    padding: 1rem;
    h1, h2, h3, h4 {
        margin-bottom: 0px;
    }
}
.sirc-modale-content-container {
    @extend .pt-1, .pb-1;
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 65vh;
    overflow: auto;
}
.sirc-modale-boutons-container {
    @extend .pb-1, .d-flex, .justify-content-end;
    flex-wrap: wrap;
    margin-bottom: -24px; // Material
    margin-top: 0rem;
    button:not(:first-child) {
        @extend .mt-1, .ml-0, .ml-sm-1, .mt-sm-0;
    }
}
.loading-modale-text {
    margin-bottom: 1rem;
}
/*
.cdk-overlay-pane {
    min-width: 50% !important;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    line-height: 2em !important;
    min-height: 3em !important;
    height: unset !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.mat-option {
    white-space: normal !important;
    line-height: 48px !important;
    min-height: 48px !important;
    height: unset !important;
}
*/


///##### PAGER #####
.sirc-pager {
    font-size: 1.1rem;

    &.pager-desktop {
        background-color: $white;
        border: 2px solid $sirc-grayl;

        .pager-result-infos {
            font-size: $font-size-scale;
        }
        .pager-select-rows {
            outline: none;
    
            >select {
                width: 100%;
                padding: 0.25rem;
                height: 2.5rem;
                color: $sirc-grayd;
                border : 2px solid $sirc-grayml;
                outline: none;
                background-color: $white;
            }
        }
        .pager-infos {
            .pager-infos-page{
                margin-right: 0.5rem;

                &:last-child{
                    .pager-dot {
                        display: none;
                    }
                }
                .pager-page {
                    margin-right: 0.75rem;
                    cursor: pointer;
                    &.pager-page-actived {
                        color: $primary;
                        font-weight: bold;
                    }
                }
                .pager-dot {
                    font-size: 0.5rem;
                    margin-right: 0.5rem;
                    opacity: 0.25;
                }
            }
        }
        
    }
    .pager-arrow {
        font-size: $font-size-icon-btn;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
    .pager-btn-disabled {
        opacity: 0.25;
        cursor: default;
    }
}

///##### TABLE #####
table.sirc-table {
    border: 1px solid $sirc-grayl;
    thead {
        &.thead-gray {
            background: $sirc-grayll;
            cursor: default;
        }
        border: 1px solid $sirc-grayl;
        > tr {
            th {
                font-size: 1rem;
                color: $sirc-graydd;
                &.actions {
                    min-width: 80px;
                }
                >div.sortable {
                    >i {
                        color: $sirc-graymd;
                    }
                    @extend .d-flex, .align-items-center, .justify-content-around;
                    cursor: pointer;
                }
            }
        }
    } 
    tbody > tr {
        cursor: default;
        &.odd {
            background: $sirc-grayll;
        }
        font-size: $font-size-scale;
        &:hover {
            background: $sirc-blue1-op;
        }
        td.td-btns {
            @extend .d-flex, .justify-content-end;
        }
    }
}

/** Administration - paramètres */
.sirc-radio-group{
    display: inline-flex;
    flex-direction: line;
    > mat-radio-button {
        margin: 0 10px 0 10px;
    }  
}


// MESSAGE INFOS
.message-info-block {
    &.INFO {
        border: 2px solid $primary;
    }
    &.WARN {
        border: 2px solid $warning;
    }
    &.ALERT {
        border: 2px solid $danger;
    }
    .ql-editor {
        white-space: normal;
    }
}

// ACCUEIL
.acc-actions-rapides {
    .ar-item-container {
        .ar-icone {
            text-align: center;
            width: 75px;
            &>i {
                cursor: pointer;
                font-size: $font-size-icon-btn-big;
                &.sirc-icon.ico-creer-demande {
                    font-size: 2.9rem;
                    padding-left: 7px;
                }
                &.sirc-icon.ico-upload {
                    font-size: 3.2rem;
                }
            }
        }
        .ar-item-infos-container {
            .ar-item-titre {
                font-size: $font-size-medium;
            }
            .ar-item-desc {
                @extend .italic;
                font-size: $font-size-tiny;
                margin-top: 0.5rem;
            }
        }
    }
}

.ar-bloc-demande {
    border: 2px solid $warning;
}
.ar-bloc-load-demande {
    border: 2px solid $sirc-grayml;
}

.acc-synthese-dossier {
    .synthese-sstitre {
        @extend .italic;
        font-size: $font-size-tiny;
        margin-top: 0.5rem;
    }
    .acc-tuiles-container {
        .tuile-org-container {
            .tuile-org {
                @extend .sirc-block;
                min-height: 190px;
                border-radius: unset;
                cursor: default;
                @media (max-width: map-get($grid-breakpoints, "md")) {
                    min-height: unset;
                }
                &.tuile-totaux {
                    min-height: unset !important;
                }
                
                .tuile-titre {
                    margin-bottom: 0;
                    &>span:hover {
                        color: var($sirc-grayddd);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .tuile-org-nom {
                    @extend .italic;
                    font-size: $font-size-tiny;
                    margin-bottom: 1rem;
                }
                .tuile-nbrs-container {
                    >div {
                        @extend .d-flex, .flex-column;
                        text-align: center;
                    }
                    .tuile-nbr-titre {
                        @extend .italic;
                        font-size: $font-size-tiny;
                    }
                    .tuile-nbr {
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                        &>span:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                i.is-btn {
                    font-size: 2rem;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                }
            }  
        }
    }
}
